{% extends 'base.html' %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<form class="container" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next|default:'/'}}">
    <div class="form-inline">
        <label for="loginfield2">Логин: </label>
        <input type="text" name="username" id="loginfield2" placeholder="Введите логин">
    </div>
    <div class="form-inline">
        <label for="password2">Пароль:</label>
        <input type="password" name="password" id="password2" placeholder="Пароль">
    </div>
    <button type="submit" class="button center">Войти</button>
</form>
{% if error %}
<p>
  Авторизация не пройдена, не правильный логин или пароль!
</p>
{% endif %}

{% endblock %}