{% extends 'base.html' %}
{% block title %}
{{art.title|default:"Нет запрощенной статьи"}}
{% endblock %}
{% block content %}
{% if art %}
<div class="container">
    <h1 style="text-align: center; ">{{art.title}}  <a href="{% url 'edit' art.pk %}"><i class="oi oi-pencil"></i></a></h1>
    <hr>
    {{art.post|safe }}
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col"><p class="text-secondary h6"><small class="text-muted">Автор: {{art.author.first_name}} {{art.author.last_name}}</small></p></div>
        <div class="col"><p class="text-secondary h6"><small class="text-muted">Последнее изменение этой страницы: {{art.updated_at}}</small></p></div>
    </div>
    <div class="row">
        {% for tag in arttags %}
        <span class="badge badge-secondary badge-pill mr-2">{{tag.title}}</span>
        {% endfor %}
    </div>
</div>
<hr>
<div class="container" id="articlecomments">
    {% for comment in comments %}
    <div class="row shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-lg-2 col-xl-2 col-md-4 col-sm-4">{{comment.author.first_name}} {{comment.author.last_name}}<br>
            {{comment.created_at}}
        </div>
        <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12">{{comment.comment|safe}}</div>
    </div>
    {% endfor %}
</div>
{% if user.is_authenticated %}
{% include 'comment-form.html' %}
{% endif %}
{% else %}
<h6 class="alert">Нет запрощенной статьи</h6>
{% endif %}
{% endblock %}