{% extends 'base.html' %}
{% block title %}
{{art.title|default:"Нет запрощенной статьи"}}
{% endblock %}
{% block content %}
{% if art %}
<article>
    <h2 style="text-align: center; ">{{art.title}} <a href="{% url 'edit' art.pk %}"><i class="icono-dropper"></i></a></h2>
    <div class="article-head">
        <a href="#">{{art.author.get_full_name}}</a>
        {{art.updated_at}}
    </div>
    {{art.post|safe }}
    <div class="tag-list"><i class="icono-tag"></i>
        {% for tag in arttags %}
        <span class="tag">{{tag.title}}</span>
        {% endfor %}
    </div>
</article>
{% for comment in comments %}
<article class="comment">
    <div class="comment-head">
        <a href="#">{{comment.author.get_full_name}}</a>
        {{comment.created_at}}
    </div>
    <div class="comment-body">
        <p>{{comment.comment|safe}}</p>
    </div>
</article>
{% endfor %}
{% if user.is_authenticated %}
<form class="comment-form" action="{% url 'comment' art.id %}" method="POST">
    {% csrf_token %}
    <label for="id_comment" style="padding-right: 10px;">{{user.get_full_name}}</label>
    <textarea class="comment-textaria" name="comment" required="" id="id_comment"></textarea>
    <button class="button" type="submit center">Отправить</button>
</form>
{% endif %}
{% else %}
<h4>Нет запрощенной статьи</h4>
{% endif %}
{% endblock %}
