{% extends 'base.html' %}
{% block title %}
{{art.title|default:"Новая статья"}}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <form action="{% url 'edit' pk %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" class="header-input h1" maxlength="170" required="" id="id_article_title" value="{{art.title}}">
        <textarea name="post" cols="40" rows="10" required="" id="id_post" hidden="true" style="display: none;">
                    {{art.post}}</textarea>
        <script>
            var settings_id_post = {
                    "airMode": false,
                    "width": "100%",
                    "lang": "ru-RU",
                    "height": 480,
                    "toolbar": [
                        ["style", ["style"]],
                        ["font", ["bold", "italic", "underline", "superscript", "subscript", "strikethrough",
                            "clear"
                        ]],
                        ["fontname", ["fontname"]],
                        ["fontsize", ["fontsize"]],
                        ["color", ["color"]],
                        ["para", ["ul", "ol", "paragraph"]],
                        ["height", ["height"]],
                        ["table", ["table"]],
                        ["insert", ["link", "picture", "video", "hr"]],
                        ["view", ["fullscreen", "codeview"]]
                    ],
                    "url": {
                        "language": "/static/js/summernote-ru-RU.js",
                        "upload_attachment": "/summernote/upload_attachment/"
                    }
                };
            </script>
        <iframe id="id_post_iframe" src="/summernote/editor/id_post/" frameborder="0" required="" width="100%" height="480"
            style="height: 480px;"></iframe>
        <div class="selectpicker">
            <label class="required" for="id_category">Раздел:</label>
            <div class="selectelement">
                <select name="category" required="" id="id_category">
                    {% for category in categories %}
                    <option value="{{category.title}}" {% if category is art.category %} selected {% endif %}>{{category.title}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button id="addCategoryButton" class="button" style="margin-left: 30px;" type="button" data-id="addcategoryform"
                data-cmd="modalbutton"><i class="icono-plus" style="color: black;"></i><span>добавить</span></button>
        </div>
        <div class="selectpicker">
            <label for="id_tag">Метки:</label>
            <div class="selectelement">
                <input type="text" name="tag" id="id_tag" placeholder="Ведите метки" value="{{art.taglist}}">
            </div>
            <button id="addTagButton" class="button" style="margin-left: 30px; visibility: hidden;" type="button"><i
                    class="icono-plus" style="color: black;"></i><span>добавить</span></button>
        </div>
        <button type="submit" class="button center">Сохранить</button>
    </form>
</div>
<section class="modal" id="addcategoryform">
    <h2>добавить раздел</h2>
    <a href="#" class="modal-close"><i class="icono-cross"></i></a>
    <form method="POST" action="{% url 'category_form' %}">
        {% csrf_token %}
        <div class="form-inline">
            <label class="form-label" for="{{ categoryform.title.id_fro_label }}">Наименование раздела:</label>
            <input type="text" name="cat-title" maxlength="50" id="id_cat-title">
        </div>
        <button type="submit" class="button center">Добавить</button>
    </form>
</section>

<script>
    var category = document.getElementById('id_category');
    var categoryselect = new Choices(category, {
        maxItems: 1,
        allowSearch: true,
        editItems: true,
        addItems: true,
        allowDuplicates: false,
        itemSelectText: 'выберите',
        noResultsText: 'не найдено, попробуте добавить',
    });
    categoryselect.setValue(['{{art.category}}']);
    var taglist = document.getElementById('id_tag');
    const choicesTag = new Choices(taglist, {
        editItems: true,
        maxItems: 15,
        allowSearch: true,
        removeButton: false,
        allowDuplicates: false,
        noResultsText: 'не найдено, попробуте добавить',
        addItemText: function (e) {
            return 'нажмите ввод для добавления <b>"' + e + '"</b>'
        },
        searchFields: ['wer', 'werwer'],
    });
    var addCategoryButton = document.getElementById('addCategoryButton');
    var categorymodal = document.getElementById('addcategoryform');
    var categoryform = categorymodal.querySelector('form');
    var shadaw = document.querySelector('.full-shadaw');
    var newcategory = categoryform.querySelector('input[name="cat-title"]');

    addCategoryButton.addEventListener('click', function () {
        categorymodal.classList.add('modal-show');
        shadaw.classList.add('full-shadaw-show');
    });

    categoryform.addEventListener('submit', function (evnt) {
        evnt.preventDefault();
        if (newcategory.value) {
            categorymodal.classList.remove('modal-show');
            shadaw.classList.remove('full-shadaw-show');
            categoryselect._addChoice({
                value: newcategory.value,
                label: newcategory.value,
                placeholder: false,
                selected: true,
                disabled: false
            });
            categoryselect.setValue([newcategory.value]);
        } else {
            categorymodal.classList.add('modal-error');
        }
    });
</script>
{% else %}
<h1 class="alert">Для добавления и редактирования статей необходимо авторизоваться</h1>
{% endif %}
{% endblock %}