<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse row justify-content-between" id="navbarmenu">
            <div class="col-5">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Top 10</a>
                    </li>
                    {% if tags %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="tagsdropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            По тегам
                        </a>
                        <div class="dropdown-menu" aria-labelledby="tagsdropdown">
                            {% for tag in tags %}
                            <a class="dropdown-item" href="/?tag={{tag.id}}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {% if categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="categorydropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            По категориям
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categorydropdown">
                            {% for cat in categories %}
                            <a class="dropdown-item" href="/?cat={{cat.id}}">{{ cat.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-2">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">админка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout/">выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/login/?next=/">войти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
{% block content %} {% endblock %}

</html>