{% extends 'base.html' %}
{% block title %}
HelpDesk| Документация
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center" role="article">
            <p>
                Веб приложение для документирования IT инфраструктуры.
                подробнее о приложении можете узнать по
                <a class="badge badge-light" href="https://github.com/Ravillatypov/hdesk">ссылке</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning d-flex justify-content-center" role="alert">
            <p>Авторизуйтесь, чтобы пользоваться веб приложением.</p>
        </div>
    </div>
</div>
{% endblock %}