/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.head-navbar {
    background-color: #e3f2fd;
    position: sticky;
    display: flex;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-nav-list {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

.sidebar-menu {
    width: 300px;
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow: auto;
    margin-left: -100vw;
}

.sidebar-menu-active {
    margin-left: 0px;
}

.close-button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.header-nav-list>li {
    display: inline-block;
}

.header-link,
.logout-link,
.login-link {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;

}

a>i.icono-hamburger,
a>i.icono-list,
a>i.icono-cross {
    color: #000000;
}

.button-active {
    background-color: rgba(0, 128, 0, 0.5);
}

.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
}

.button:hover,
.button:focus,
.button:active,
.show-navbar-menu:active,
.show-navbar-menu:focus,
.show-navbar-menu:hover {
    background-color: rgba(64, 64, 64, 0.5);
    border-color: #175e46;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}


@media (max-width: 400px) {
    .sidebar-menu {
        width: 100vw;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal {
    position: fixed;

    display: none;

    color: #000000;

    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-login {
    top: 120px;
    left: 50%;

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}