<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/img/icon.jpg" rel="icon" type="image/jpg">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>Добро пожаловать в систему техподдержки!</h1>
    </header>
    <nav class="head-navbar">
        <ul class="header-nav-list">
            <li><a class="header-link button" id="link-articles" href="#">база знаний</a></li>
            <li><a class="header-link button" id="link-tikets" href="#">заявки</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a class="logout-link button" href="{% url 'logout' %}">выйти</a>
        {% else %}
        <a class="login-link button" href="{% url 'login' %}">войти</a>
        {% endif %}
        <div class="sidebar-menu menu-article">
            <i class="icono-cross close-button"></i>
            {% if user.is_authenticated %}
            <ul>
                {% if perms.article.add_tag or perms.article.add_category or perms.article.add_article %}
                <li>
                    <a href="{% url 'new_article' %}">добавить статью</a>
                </li>
                {% endif %}
                {% for submenu in menu %}
                <li>
                    <h2 class="menu-title">{{submenu.title}}</h2>
                    <ul class="menu-list">
                        {% for item in submenu.items %}
                        <li>
                            <a class="menu-list-item" href="{% url 'kb' item.id %}">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    {% block content %} {% endblock %}
    {% include 'login-form.html' %}
    <script src="/static/js/main.js"></script>
</body>

</html>