<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/img/icon.jpg" rel="icon" type="image/jpg">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/choices.min.css">
</head>

<body>
    <header>
        <h3>
            {% if user.get_full_name %}
            {{user.get_full_name}}, добро
            {% else %}
            Добро
            {% endif %}
            пожаловать в систему техподдержки!</h3>
    </header>
    <nav class="head-navbar">
        <div style="margin-left: auto; margin-right: auto; display: flex;">
            <ul class="header-nav-list">
                {% if user.is_authenticated %}
                <li>
                    <button class="button header-link" id="link-articles" type="menu" data-cmd="sidebarbutton" data-id="sidebarmenuarticle">база
                        знаний</button>
                </li>
                <li>
                    <a class="button header-link" href="{% url 'logout' %}">выйти</a>
                </li>
                {% else %}
                <li>
                    <a class="button header-link" href="{% url 'register' %}">регистрация</a>
                </li>
                <li>
                    <a class="button header-link" href="{% url 'login' %}" data-cmd="modalbutton" data-id="login-form-modal">войти</a>
                </li>
                {% endif %}
            </ul>
            <div class="sidebar-menu menu-article" id="sidebarmenuarticle">
                <i class="icono-cross close-button"></i>
                {% if user.is_authenticated %}
                <ul class="menu">
                    {% if perms.article.add_tag or perms.article.add_category or perms.article.add_article %}
                    <li>
                        <a class="button" href="{% url 'new_article' %}">добавить статью</a>
                    </li>
                    {% endif %}
                    {% for submenu in artmenu %}
                    <li>
                        <h3 class="menu-title"><i class="icono-caretDownCircle"></i><i class="icono-caretRightCircle"></i>{{submenu.title}}</h3>
                        <ul class="menu-list">
                            {% for item in submenu.items %}
                            <li>
                                <a class="menu-list-item" href="{% url 'kb' item.id %}">{{item.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="full-shadaw"></div>
    <section id="login-form-modal" class="modal modal-login">
        <h2>авторизация</h2>
        <a href="#" class="modal-close"><i class="icono-cross"></i></a>
        <form class="container" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next|default:'/'}}">
            <div class="form-inline">
                <label for="loginfield1">Логин: </label>
                <input type="text" name="username" id="loginfield1" placeholder="Введите логин" value="demo">
            </div>
            <div class="form-inline">
                <label for="password1">Пароль:</label>
                <input type="password" name="password" id="password1" placeholder="Пароль" value="passdemo">
            </div>
            <button type="submit" class="button center">Войти</button>
        </form>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="/static/js/choices.min.js"></script>
    <main>
        {% block content %} {% endblock %}
    </main>
    <script src="/static/js/main.js"></script>
</body>

</html>
